/* -------------Fuentes -------------- */
  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=New+Amsterdam&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


/* ------------ Variables -------------*/

:root{

    --background: rgb(27, 9, 187);
    --background-white: white;
    --primary: red;
    --secondary: #fe6787;
    --btn-gb: yellow;
    --nav-bg: black;
    --text-white: white;
    --text-black: black;
    --text-decoration: 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background: black;*/
    list-style: none;
    text-decoration: none;
    font-family: "New Amsterdam";

}

body{
    background-color: var(--background);
}

header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    height: 80px;
    position: fixed;
    width:100% ;
}

/* ---------NAVBAR------------ */
.Navbar, .Navbar-list{

    display: flex;
    align-items: center;

}
.Navbar{
    gap: 100px;
}
.Navbar-list{
    gap: 30px;

}
.Navbar-list a{
    color: var(--primary);
    font-size: 20px;
}
.Navbar-list a:hover{
    color: blue;
    box-shadow: 5px 5px 20px rgba(0, 0, 0,0.4);
    transform: translateY(-3%);

}
.Navbar-list .active{
    font-weight: 700;
    color: var(--primary);
}
.logo{
    height: 200%;
}
.cart-icono{
    height: 30px;
    padding: 5px 10px;
    
}

.Navbar-sublist{
    display:none;
    flex-direction: column;
    position: absolute;
    width: auto;
    border: 1px;
}
.Navbar-sublist > li > a{
    border: 1px;
}

.Navbar-list li:hover .Navbar-sublist{
    display:flex;
    flex-direction: column;
    background-color: aqua;
    width: auto;
    border: 1px;
    border-color: black;
}
/* -------- MAIN ----------*/
main{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}

/* ---------- HERO------------*/

#hero{
    background-color: white;
    max-width: 1200px;
    margin-top: 80px;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero-info{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    width: 40%;
    gap: 20px;
}
.hero-info h1{
    
    font-size: 30px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-width: 400px;
}
.hero-info p{
    font-family: "lora";
    font-size: 13px;
    width: 70%;
    align-items: flex-start;
}

.hero-card{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    width: 60%;
    gap: 10px;
}
.hero-card-img{
    background-color: var(--text-white);
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    border-radius: 15px;
    gap: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0,0.2);
    transition: all 400ms ease;
}
.hero-card-img:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0,0.4);
    transform: translateY(-3%);
    
}
.hero-card-img img{
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.hero-a{
    background-color: var(--secondary);
    color: white;
    font-family: "Archivo black";
    font-size: 10px;
    width: 130px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.hero-a:hover{
    background-color: aqua;
}

/* ----------------- ABOUNT (QUIENES SOMOS) --------------*/
.abount{
    color: black;
    background-color: var(--background-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px 30px;
    gap: 20px;
    justify-content: space-between;

    
}
.abount-info{
    width: 50%;
    height: 400px;
    color: var(--text-decoration);
    text-align: center;
    justify-content: center;
}
.abount-info h1{
    text-align: center;
    padding-bottom: 10px;
}
.abount-info p{
    text-align: left;
    padding-top: 20px;
}

.abount-img {
    display: flex;
    width: 50%;
    height: 400px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
.abount-img img {
    flex: 0 0 100%;
    width: 100%;
    right: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}

/* ---- PRODUCTOS (PRODUCT) ---*/

.product{
    width: 100%;
}
.card-info{
    width: 100%;
    height: 300px;
    background-color: #fb6a00;
    color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.card-info h1{
    width: 40%;
    font-size: 60px;
    font-weight: 800;
    padding-left: 30px;
    align-items: center;
    justify-content: center;
}
.card-info p{
    font-size: 15px ;
    width: 60%;
    padding-right: 30px;  
}
   
.product-card{

        width: 20%;
        height: 20%;
        display: inline-block;
        box-shadow: 2px 2px 20px black;
        border-radius: 5px; 
        margin: 2%;
        color: var(--text-black);   
    }
   
.product-img img{
     width: 100%;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
    }
   
.product-title{
    padding: 3px;
    text-align: center;
    padding-top: 10px;
    }
   
.product-title h1{
     font-size: 20px;
    }
   
.product-title button{
     margin-top: 20px;
     margin-bottom: 10px;
     background-color: white;
     border: 1px solid black;
     border-radius: 5px;
     padding:10px;
   }
.product-title button:hover{
     background-color: yellow;
     transition: .5s;
     cursor: pointer;
}


/* ----------- CONTACTO ------------*/

.contact-section {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    gap: 20px;
    color:black;
    padding-top: 70px;
}

.contact-form, .contact-info {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.contact-section h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.contact-section label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.contact-section input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-section button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    width: 100%;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-section button:hover {
    background-color: #0056b3;
}

a {
    color: #007BFF;
    text-decoration: none;
}

.contact-section a:hover {
    text-decoration: underline;
}




/* -----------------FOOTER--------------*/

.footer {
    background-color: #2C3E50; 
    color: #ECF0F1; 
    padding: 20px 10%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    
}

.footer-section {
    flex: 1; 
    margin: 35px; 
}

.footer-section h4 {
    border-bottom: 2px solid #3498DB; 
    padding-bottom: 10px; 
    font-size: 30px;
    
}

.footer-section p, .footer-section ul {
    font-size: 20px; 
}

.footer-section a {
    color: #ECF0F1; 
    text-decoration: none; 
}

.footer-section a:hover {
    text-decoration: underline; 
    color: #3498DB; 
}

.footer-section ul {
    list-style-type: none; 
    padding: 0; 
}

.footer-section ul li {
    margin: 5px 0; 
}





